// see: https://github.com/racodond/sonar-css-plugin/issues/82
$variable1: 0;
$variable2: 1;

.queries {
    &-ok {
        @if $variable1 != $variable2 {
            color: blue;
        } @else {
            color: red;
        }
    }
    &-fp {
        @if $variable1 && $variable2 {
            color: blue;
        } @else {
            color: red;
        }
    }
    &-ok2 {
        @if $variable1 != $variable2 {
            color: blue;
        } @else {
            color: red;
        }
    }
}